# Maven build
maze/target

# IDEs
.classpath
.project
.settings/
.idea/

# OS
.DS_Store
Thumbs.db

#General:
maze/target/classes/main/game/maze
maze/target/classes/main/game/maze/characters/PlayerCharacter$DieAction.class
maze/target/classes/main/game/maze/characters/PlayerCharacter$HappyAction.class
*.class
maze/target/classes/main/game/maze/App.class
maze/target/classes/main/game/maze/App.class
maze/target/classes/main/game/maze/characters/Character.class
maze/target/classes/main/game/maze/characters/PlayerCharacter.class
maze/target/classes/main/game/maze/MazeWorld.class
maze/target/classes/main/game/maze/winScreen-GTX3090.fxml
maze/target/classes/main/game/maze/*.fxml
maze/testScores.txt
scores.txt
