<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension
        id="main.game.maze.gen.app"
        point="org.eclipse.core.runtime.applications">
    <application
          cardinality="singleton-global"
          thread="main"
          visible="false">
      <run
          class="main.game.maze.gen.HeadlessGeneratorApplication"/>
    </application>
  </extension>

</plugin>