<?xml version="1.0" encoding="UTF-8"?>
<!-- /maze-generator.acceleo/plugin.xml -->
<plugin>
  <!-- Opponents + difficulties -->
  <extension
        id="main.game.maze.gen.RunAcceleo"
        point="org.eclipse.core.runtime.applications">
    <application
          cardinality="singleton-global"
          thread="main"
          visible="false">
      <run class="main.game.maze.gen.HeadlessGeneratorApp"/>
    </application>
  </extension>

  <!-- Walls -->
  <extension
        id="main.game.maze.gen.HeadlessWallsApp"
        point="org.eclipse.core.runtime.applications">
    <application
          cardinality="singleton-global"
          thread="main"
          visible="false">
      <run class="main.game.maze.gen.HeadlessWallsApp"/>
    </application>
  </extension>

</plugin>