<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin id="main.game.maze.opponents"
    name="%pluginName"
    version="1.0.0.qualifier"
    provider-name="%providerName">
  <extension point="org.eclipse.emf.ecore.delegate">
    <factory
        uri="http://www.eclipse.org/emf/2002/Ecore/OCL"
        class="org.eclipse.ocl.ecore.delegate.OCLDelegateDomainFactory"/>
    <invocationDelegate
        uri="http://www.eclipse.org/emf/2002/Ecore/OCL"
        class="org.eclipse.ocl.ecore.delegate.OCLInvocationDelegateFactory"/>
    <settingDelegate
        uri="http://www.eclipse.org/emf/2002/Ecore/OCL"
        class="org.eclipse.ocl.ecore.delegate.OCLSettingDelegateFactory"/>
    <validationDelegate
        uri="http://www.eclipse.org/emf/2002/Ecore/OCL"
        class="org.eclipse.ocl.ecore.delegate.OCLValidationDelegateFactory"/>
  </extension>   

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated main.game.maze.opponents -->
      <package
            uri="http://main.game.maze/opponents"
            class="main.game.maze.opponents.OpponentsPackage"
            genModel="src/main/resources/opponents.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated main.game.maze.opponents -->
      <parser
            type="opponents"
            class="main.game.maze.opponents.util.OpponentsResourceFactoryImpl"/>
   </extension>
</plugin>