<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- releng/maze.target -->
<target name="Maze Target" sequenceNumber="65">
  <locations>
    <location 
        includeAllPlugins="false" includeAllPlatforms="false" 
        includeConfigurePhase="true" includeSource="true" 
        type="InstallableUnit">
        <repository location="https://download.eclipse.org/releases/2025-09/"/>
        <repository location="https://download.eclipse.org/tools/orbit/downloads/latest-R/"/>
      <unit id="org.eclipse.core.runtime" version="0.0.0"/>
      <unit id="org.eclipse.equinox.common" version="0.0.0"/>
      <unit id="org.eclipse.core.jobs" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore" version="0.0.0"/>
      <unit id="org.eclipse.emf.common" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.xmi" version="0.0.0"/>
      <unit id="org.eclipse.ocl.pivot" version="0.0.0"/>
      <unit id="org.eclipse.ocl.ecore" version="0.0.0"/>
      <unit id="org.eclipse.ocl" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="0.0.0"/>      
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.common" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.engine" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.model" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.parser" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.profiler" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.traceability" version="0.0.0"/>
    </location>
  </locations>
</target>