<?xml version="1.0" encoding="UTF-8"?>
<!-- maze-generator.freemarker/plugin.xml
     Note: Extension IDs preserve legacy 'RunAcceleo' naming for compatibility.
     The generators actually use FreeMarker templates (not Acceleo). -->
<plugin>

  <extension
        id="main.game.maze.gen.RunAcceleo"
        point="org.eclipse.core.runtime.applications">
    <application
          cardinality="singleton-global"
          thread="main"
          visible="false">
      <run
          class="main.game.maze.gen.HeadlessGeneratorApp"/>
    </application>
  </extension>

</plugin>