<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://main.game.maze/mazecomp"
			class = "main.game.maze.mazecomp.MazecompPackage"
			genModel = "model/generated/MazeComp.genmodel" />
	</extension>
</plugin>
