<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="main.game.maze.dsl.ui.MazeDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="mazegame"
            icon="icons/dsl.png"
            id="main.game.maze.dsl.MazeDsl"
            name="MazeDsl Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="main.game.maze.dsl.ui.MazeDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
         <activeWhen>
            <reference definitionId="main.game.maze.dsl.MazeDsl.Editor.opened"/>
         </activeWhen>
      </handler>
   </extension>
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="mazegame"
            id="main.game.maze.dsl.MazeDsl.contenttype"
            name="MazeDsl File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category id="main.game.maze.dsl.category" name="MazeGame DSL"/>
      <wizard
            category="main.game.maze.dsl.category"
            class="main.game.maze.dsl.ui.MazeDslExecutableExtensionFactory:main.game.maze.dsl.ui.wizard.MazeDslNewProjectWizard"
            id="main.game.maze.dsl.ui.wizard.MazeDslNewProjectWizard"
            name="New MazeGame Configuration"
            icon="icons/dsl.png"
            project="false">
      </wizard>
   </extension>
</plugin>
